/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
  }
  /* og látum erfast á allt */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  :root {
    /* Grunn bilið okkar er 1rem == 16px */
    --font-base-body-px: 16px;
    --spacing: 1rem;
  
    /* Hámarksbreidd á efni */
    --max-width: 900px;
  
    /* Border breiddir */
    --border-small: 1px;
    --border-large: 8px;
    --border-radius: 6px;
  
    /* Litir */
    --color-gold: #ffe7ae;
    --color-gold-light: #fff1cf;
    --color-dark: #2f0505;
    --color-light: #fff9ee;
  
    /* Letur stillingar */
    --font-base-size: 1rem;
    --font-family-base: 'Lato';
    --font-family-heading: 'Lato';
  }

  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  /*** Almennt ***/
  
  html,
  input,
  select,
  button {
    font-size: 16px;
    font-family:'Lato';
    font-family: 'Lato';
  }
  h3 {
    font-family: 'Lato';
  }
  a {
    color: inherit;
  }
  
  h2,
  h3,
  section {
    margin-bottom: 1rem;
  }
  
  img {
    max-width: 100%;
  }
  
  /*** Haus ***/
  
  .wrapper {
    display: flex;
    flex-direction: column;
    
  }
  
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    font-family: var(--font-family-heading);
    width: 100%;
    
    z-index: 1;
    
  }
  .backg {
    
    background-image: url('https://www.intel.com/content/dam/www/central-libraries/us/en/images/2023-08/unsplash-computer-cables-photo-rwd.jpg');
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat;
    height: 565px;
    gap: 10px;
    object-position: 50% 100%;
   opacity: 0.5;
    width: 100%;
  }
  
   /* Tilboðsvika */
.dumb {
    position: absolute;
    width: 930px;
    height: 192px;
    left: 254px;
    top: 176px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 160px;
    line-height: 192px;
    /* identical to box height, or 120% */
    text-align: center;
    
    color: #000000;
    }
    /* Keyptu græjunar hjá okkur! */
.dumb2 {
position: absolute;
width: 930px;
height: 53px;
left: 254px;
top: 380px;

/* Main heading */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;
/* or 133% */
text-align: center;

color: #000000;
}
.backg {
    color: #000000;

}
 .nav3 {
    display: flex;
    flex-direction: row;
    
 }
  /*** Valmynd ***/
  
  .nav {
    margin-bottom: 1rem;
    padding: 1rem;
    height: 60px;
    color: #000000
    
  }
  
  .nav ul {
    display: flex;
    justify-content: start;
    gap: var(--spacing);
    list-style: none;
    justify-content: space-between; 
    height: 60px;
  }
  
  .nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    
  }
  .Tæknibúðin {
    /* Tæknibúðin */

   
left: 14.13%;
right: 24.22%;
top: 0%;
bottom: 0%;

font-family: 'Lora';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 40px;
/* or 100% */
display: flex;
align-items: center;

color: #000000;
  }
  
  
  /*** Meginmál ***/
  
  .main {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 900px;
  }
  .tags ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: start;
  }
  .dæmi {
    background-color: #E1CEC2;
    clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0% 100%);
    
    padding-bottom: 7rem;
  }
  .toppad {
    padding-top: 7rem;
    padding-left:  20rem;
  }
  .nydæmi {
    background-color: #E1CEC2;
    clip-path: polygon(0% 15%, 100% 0, 100% 85%, 0% 100%);
    
    padding-bottom: 7rem;
  }
  
  /** Fótur **/


  .footer {
    display:flex;
    justify-content: space-between;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 1rem;
    color: #FFFFFF;
    background: #3C2A1E;
    padding: 20px;
    position: relative;
    clip-path: polygon(0% 35%, 100% 0, 100% 100%, 0% 100%);

  }
  .padder {
    padding-top: 5rem;
  }
  .padder2 {
    padding-top: 2rem;
  }

  .footer > section {
    display: flex;
    flex-direction: column;
    align-items: start;

  }
  .footer .dd {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;

  }

  section h2 {
    border-bottom: 2px solid #e1cee2;
    width: 448px;

  }
  .copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #3C2A1E;
  }
  .copyright .lina34 {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid #6f4e37;
    width: 930px;
  
  }
  .footer2 {
    display:flex;
    justify-content: space-between;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 1rem;
    color: #FFFFFF;
    background: #3C2A1E;
    padding: 20px;
    position: relative;
   

  }

  .footer2 > section {
    display: flex;
    flex-direction: column;
    align-items: start;

  }
  .footer2 .dd {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footer2 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;

  }
  
  /*** Box! ***/
  
  .boxes {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--spacing);

    
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    
  }
  
  .boxes .box {
    display: flex;
    
    flex-direction: column;
    background-color: #FFFFFF;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
  
    margin-bottom: 1rem;
   
    border-radius: 5px;
  }
  
  .boxes .box .buttons {
    display: flex;
    gap: var(--spacing);
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    justify-content: center;
    flex-grow: 1;
  }  
  .boxes .boxa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-top: 1rem;
  }
  h3 {
    padding-top: 1rem;
  }
  
  img {
    object-fit:cover;
    object-position: 50% 5%;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
  }

  .bil {
    margin-bottom: 0.5rem;
  }
  h1 {
    margin-bottom: 1rem;
  }
  
  /*** Opnunartími ***/
  
  dt {
    font-weight: bold;
  }
  
  dd {
    margin-bottom: 1rem;
  }
  
  /*** Matseðill ***/
  
  table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    border-spacing: 0;
  }
  thead {
    display: flex;
    flex-direction: row;
    
  }
  thead tr {
    display: flex;
    gap: 180px;
    flex-direction: row;
  }

  table th,
  table td {
    padding: 0.5rem;
  }
  
  table tbody tr:nth-child(2n + 1) {
    background-color: var(--color-gold);
  }
  
  .pleft {
    padding-left: 3.5rem;
  }
  /*** Pöntunarform ***/
  
  fieldset {
    display: flex;
    margin-bottom: 1rem;
    border: 1px solid black;
    padding: 1rem;
  }
  
  fieldset legend {
    font-weight: bold;
  }
  
  fieldset div {
    
    
    margin-bottom: 1rem;
  }
  
  fieldset div label {
    display: flex;
    
  }
  fieldset input,
  fieldset select,
  fieldset textarea {
    display: flex;
    
    padding: 0.5rem;
  }
  
  fieldset input[type='checkbox'] {
    display: flex;
    
    margin-right: 0.5rem;
  }
  
  form button {
    padding: 0.25rem;
    border-radius: 6px;
  }
  .takki {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  